.sign-up-form {
    height: 100%;
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    margin-top: 5%;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.account{
    padding-top: 10px;
}

.navbar{
    padding-right: 500px;
}

.contact-form{
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    margin-top: 5%;
    text-align: center;
}

.contact-card{
    height: 100%;
    width: 100%;
    margin: auto;
    /* padding: 15px; */
    margin-top:  5%;
    text-align: center;
}

