.sign-up-form {
    height: 100%;
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    margin-top: 5%;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.account{
    padding-top: 10px;
}

.navbar{
    padding-right: 500px;
}

.contact-form{
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 15px;
    /* margin-top: 5%; */
    text-align: center;
    padding-bottom: 30px;
}

.contact-card{
    height: 100%;
    width: 100%;
    margin: auto;
    /* max-width: 300px; */
    /* padding: 15px; */
    /* margin-top:  5%; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 5%;
}

